@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("~assets/fonts/Gilroy/Gilroy-Regular.woff") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~assets/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("~assets/fonts/Gilroy/Gilroy-SemiBold.woff") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("~assets/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}

body {
  font-family: "Gilroy", "Helvetica";
  @apply bg-white text-black;
}

.section-title {
  @apply text-2xl sm:text-4xl text-center font-semibold mb-6 sm:mb-10;
}

.section-title h2:before,
.section-title h2:after {
  content: "";
  height: 1px;
  width: 150px;
  @apply hidden md:block absolute top-4 sm:top-section-title bg-black;
}

.section-title h2:before {
  left: -200px;
}
.section-title h2:after {
  right: -200px;
}

.section-title h2 {
  width: fit-content;
  @apply relative mx-auto leading-more-relaxed;
}
